@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url(./frutiger-aero-wallpaper-4k-upscaling-turquoise-v0-bdvrspnnio7d1.webp);
  background-color: #2A8CFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  box-shadow: inset 0px 0px 20px 10px  #164b8ca2;
  width: 100vw;
  height: 60px;
  background-color: #00e5ff;
  backdrop-filter: blur(3px);
}

header span {
  color: 	#F5FCFF;
  font-size: 30px;
  text-shadow: 1px 1px 10px #0040a0;
}

header ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #F5FCFF;
  text-shadow: 1px 1px 10px #0040a0;
  transition: transform 0.5s ease;
  display: inline-block; 
}

header ul li a:hover {
  transform: scale(1.1);
}

.sessaoPrincipal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: #f5fcff94;
  box-shadow: inset 0px 0px 20px 10px  #D6F1FF;
  backdrop-filter: blur(2px);
  width: 470px;
  height: 350px;
  border-radius: 50px 20px;
}

.principal h1 {
  font-size: 40px;
  color: #001B44;
}

.botoes {
  display: flex;
  gap: 2rem;
}

.btn {
  width: 105px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(#00E5FF,#2A8CFF,#00E5FF);
  box-shadow: 0px 0px 20px #001B44;
  transition: 0.5s;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 10px #0040a0;
}

.btn:hover {
  transform: scale(1.05);
}

.imagem {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 380px;
  width: 380px;
}

.imagem img {
  width: 400px;
  height: 330px;
  filter: drop-shadow(1px 1px 20px #F5FCFF);
}

.sessaoTecnologias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-color:#f5fcff9a;
  backdrop-filter: blur(2px);
  box-shadow: inset 0px 0px 20px 10px  #D6F1FF;
  border-radius: 20px;
}

.caixa {
  background-color: #00e5ff;
  width: 150px;
  height: 200px;
  margin: 6rem 1rem;
  transition: box-shadow 0.5s ease;
  box-shadow: inset none;
  border: 2px solid #001b445b;
  border-radius: 10px;
}

.caixa:hover {
  box-shadow: inset 0px 0px 40px #001B44;
}